.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}

.container-full {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}


.row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.inline-block {
	display: inline-block;
}

.justify__content__between {
	display: flex;
	justify-content: space-between;
}
.justify__content__center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.justify__content__end {
	display: flex;
	justify-content: end;
}
.align__item__center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}
.align__self__center {
	-ms-flex-item-align: center !important;
	-ms-grid-row-align: center !important;
	align-self: center !important;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}


@media (min-width: 576px) {
	.container {
		max-width: 630px;
	}

}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.container__stages {
		max-width: 831px;
	}

	.col-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-1 {
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-2 {
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-5 {
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-7 {
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-8 {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-10 {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-11 {
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media (min-width: 1450px) {
	.container {
		max-width: 1500px;
	}
}
