
@media (min-width: 0px) and (max-width: 995px) {
    .nav_list__elem {
        display: none;
    }

    .mobile_menu {
        display: flex;
    }

    .text_block {
        flex: 0 0 100%;
		max-width: 100%;
    }
    .image_block {
        flex: 0 0 100%;
		max-width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 769px) {
    .attorneys__description_block {
        border-left: none;
    }

    .attorneys__title_block {
        justify-content: left;
    }
    
    .attorneys__description_title, .attorneys__description {
        padding-left: 0;
    }
    
}

@media (min-width: 0px) and (max-width: 560px) {
    .man_img {
        width: 100%;
        min-width: 100px;
    }
}

@media (min-width: 0px) and (max-width: 450px) {
    .header_email_input {
        width: 20vw;
    }

    .contact_btn {
        width: 100%;
        text-align: center;
    }

    .attorneys__description_title, .attorneys__description {
        padding-left: 0;
    }

    .practice_area__grid_wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .grid-2 {
        grid-column: span 1 / span 1 !important;
    }
}