
@media (min-width: 0px) and (max-width: 995px) {
    .nav_list__elem {
        display: none;
    }

    .mobile_menu {
        display: flex;
    }

    .text_block {
        flex: 0 0 100%;
		max-width: 100%;
    }
    .image_block {
        flex: 0 0 100%;
		max-width: 100%;
    }
}
